<a href="#" class="brand-link d-flex flex-column align-items-center text-center">
    <img src="/images/Seal_of_Datu_Paglas.png" alt="AdminLTE Logo" class="brand-image img-circle my-3" >
    <span class="brand-text text-dark font-weight-bold mb-3" ></span>
</a>
  