<div class="btn-group">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <!-- Profile Icon with Dropdown Trigger -->
      <button 
        type="button" 
        class="btn btn-light dropdown-toggle d-flex align-items-center px-2 py-1" 
        data-toggle="dropdown" 
        aria-expanded="false"
        style="border-radius: 7px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);"
      >  
      
        <img 
          src="<%= user.picture %>" 
          width="30" 
          class="img-circle elevation-2 mr-2" 
          alt="User Image" 
          style="object-fit: cover;"
        />
        <div class="d-flex align-items-center text-left">
          <span 
            class="text-dark font-weight-medium" 
            style="font-size: 0.85rem; margin-right:5px; text-align: center;"
          >
             

          
            <span class="text-muted" style="font-size: .8rem;"><%= user.email %></span>
          
        </div>
      </button>

      <!-- Dropdown Menu for Profile -->
      <div class="dropdown-menu dropdown-menu-right mt-2 shadow-sm" aria-labelledby="profileDropdown">
        <div class="dropdown-header text-muted small">
          <i><%= user.email %></i>
        </div>

        
        <div class="dropdown-divider"></div>
        <a 
          href="/changePassword" 
          class="dropdown-item d-flex align-items-center"
        >
          <i class="nav-icon bi bi-key mr-2"></i> Change Password
        </a>
        <a 
          href="#" 
          class="dropdown-item text-danger d-flex align-items-center" 
          onclick="logout()"
        >
          <i class="nav-icon bi bi-box-arrow-right mr-2"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</div>

<script>
  function logout() {
    Swal.fire({
      title: 'Are you sure?',
      text: "You will be logged out of your account.",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: "Yes",
      confirmButtonColor: "#12be12",
      cancelButtonText: "Cancel",
      cancelButtonColor: "#FF0000",
      customClass: {
        popup: 'glassmorphism-popup'
      }
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/logout'; // Adjust the URL as needed
      }
    });
  }
</script>
