*{
  padding:0;
  margin: 0;
}
/*---------------------------- Html, Body ------------------------ */
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

/*--------------------------- Color Palette ---------------------- */
:root {
  --dark-navy-blue: #0d1b2a;
  --dark-blue: #1b263b;
  --steel-blue: #415a77;
  --light-steel-blue: #778da9;
  --off-white: #e0e1dd;
  --pink: #ff8fab;
  --blue: #48cae4;
  --lime: lime;
}

/*--------------------------- Class with color -------------------- */
.text-lightSteelBlue {
  color: var(--light-steel-blue);
}
.text-SteelBlue {
  color: var(--steel-blue);
}
.text-lighter {
  color: var(--off-white);
}
.text-pink {
  color: var(--pink);
}
.text-blue {
  color: var(--blue);
}
.text-lime {
  color: var(--lime);
}

.text-gradient {
  background: linear-gradient(rgb(116, 178, 225),rgb(196, 149, 217));
  background-clip: text;
  color: transparent;
}

main {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container.flex-grow-1 {
  flex-grow: 1;
}

/*--------------------------- Footer --------------------------*/
.footerContainer,
.footerContainer a,
.footerContainer span,
.footerContainer ul,
.footerContainer li {
  color: white !important; /* Ensure text and icons are white */
  -webkit-text-fill-color: white; /* Compatibility for older browsers */
  position: static;
  margin-bottom: 10px !important;
  text-align: center;
  margin-top: auto;
}

.footerContainer {
  max-height: 5px;
  left: 0 !important;
}

footer {
  /* This is important to make the footer stay at the bottom */
  width: 100%;
}

footer .footerContainer {
  width: 100%;
  padding: 1rem 0;
}


.offcanvas {
  width: 290px !important;
}

/*-------------------------- Button loading animation class -------------------------- */


.check-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 8px;
  vertical-align: middle;
  animation: checkmark 0.3s ease-in-out forwards;
}

.check-icon:after {
  content: '';
  width: 9px;
  height: 15px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  position: absolute;
  left: 6px;
  top: 1px;
  transform: rotate(45deg);
  opacity: 0;
  animation: check-appear 0.3s ease-in-out forwards 0.2s;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes checkmark {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes check-appear {
  from {
    opacity: 0;
    transform: rotate(45deg) scale(0.8);
  }
  to {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
}





/* ---------------------------SweetAlert Customizations >600px------------------------- */

.swal2-toast {
  display: flex !important; /* Use flexbox */
  align-items: center !important; /* Center items vertically */
  justify-content: center !important; /* Center items horizontally */
  background-color: rgba(6, 6, 37, 0.70) !important; 
  border-radius: 7px !important; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important; 
  backdrop-filter: blur(4px) saturate(180%) !important; 
  -webkit-backdrop-filter: blur(2px) saturate(180%) !important; 
  border: 1px solid rgba(94, 103, 146, 0.3) !important; 
  font-size: 0.7rem !important;
  width: 200px !important;
  height: 70px !important;
}

.swal2-timer-progress-bar {
  background-color: #a8afc9 !important; /* Custom color (Orange) */
  height: 4px !important; /* Set height of the progress bar */
}

.glassmorphism-popup {
background-color: rgba(6, 6, 37, 0.70);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4px) saturate(180%);
-webkit-backdrop-filter: blur(2px) saturate(180%);
border: 1px solid rgba(94, 103, 146, 0.3);
width:450px;
}

.swal2-error {
  border-color:#FF0000 !important;

}

div.swal2-icon.swal2-error.swal2-icon-show > span > span.swal2-x-mark-line-left{
  background-color: red;
}
div.swal2-icon.swal2-error.swal2-icon-show > span > span.swal2-x-mark-line-right{
  background-color: red;
}

div.swal2-icon.swal2-success.swal2-icon-show > span.swal2-success-line-tip {
  background-color: #00FF00;
}
div.swal2-icon.swal2-success.swal2-icon-show > span.swal2-success-line-long {
  background-color: #00FF00;
}

div.swal2-icon.swal2-success.swal2-icon-show > div.swal2-success-circular-line-left{
  opacity:0;
   }
div.swal2-icon.swal2-success.swal2-icon-show > div.swal2-success-circular-line-right{
  opacity:0;
   }
  
div.swal2-icon.swal2-success.swal2-icon-show > div.swal2-success-fix{
  opacity:0;
   }

.swal2-warning{
  border-color:#ff8f00 !important;
}

.swal2-success-ring{
  border-color: #00FF00 !important;
}

.swal2-title {
  font-size: 1.3rem !important; /* Smaller title font size */
  color: var(--off-white);
  font-weight: 900;
}

.swal2-html-container {
  font-size: 1rem !important; /* Reduce font size */
  color: var(--off-white) !important;
  font-weight: 900;
  padding:20px 10px !important;
}

.swal2-actions {
  margin-top: 10px; /* Reduce margin between text and buttons */
}

.swal2-styled.swal2-confirm {
  padding: 8px 20px; /* Smaller button padding */
  font-size: 14px !important; /* Smaller button text */
  color: white;
  font-weight: 800;
}

.swal2-styled.swal2-cancel {
  padding: 8px 20px; /* Smaller button padding */
  font-size: 14px !important; /* Smaller button text */
  color: white;
  font-weight: 800;
}

button.swal2-confirm{
  width:93px;
  background-color: #12be12c1 !important;
}


/*-------------------------- SweetAlert Customizations for Mobile -------------------- */
@media (max-width: 600px) {
 
  .glassmorphism-popup {
    background-color: rgba(6, 6, 37, 0.70);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(94, 103, 146, 0.3);
    width:450px;
    }

  .swal2-error {
    border-color:#FF0000 !important;
  
  }

  div.swal2-icon.swal2-error.swal2-icon-show > span > span.swal2-x-mark-line-left{
    background-color: red;
  }
  div.swal2-icon.swal2-error.swal2-icon-show > span > span.swal2-x-mark-line-right{
    background-color: red;
  }

  div.swal2-icon.swal2-success.swal2-icon-show > span.swal2-success-line-tip {
    background-color: #00FF00;
  }
  div.swal2-icon.swal2-success.swal2-icon-show > span.swal2-success-line-long {
    background-color: #00FF00;
  }


  .swal2-warning{
    border-color:#ff8f00 !important;
  }

  .swal2-success-ring{
    border-color: #00FF00 !important;
  }

  .swal2-title {
    font-size: 1.3rem !important; /* Smaller title font size */
    color: var(--off-white);
    font-weight: 900;
  }

  .swal2-html-container {
    font-size: 1rem !important; /* Reduce font size */
    font-weight: 900;
    padding:20px 10px !important;
  }

  .swal2-actions {
    margin-top: 10px; /* Reduce margin between text and buttons */
  }

  .swal2-styled.swal2-confirm {
    padding: 8px 20px; /* Smaller button padding */
    font-size: 14px !important; /* Smaller button text */
    color: white;
  }

  .swal2-styled.swal2-cancel {
    padding: 8px 20px; /* Smaller button padding */
    font-size: 14px !important; /* Smaller button text */
    color: white;
  }
}
